

.container{
  width: 70vh;
    background-color: black;
    margin: auto;
    position: relative;
    top: 35px;





}

.heading{
    text-align: center;
}

.image{
 
  text-align: center;
}

body{
  background: linear-gradient(300deg, #00bfff, #ff4c68,#00bfff);
  background-size: 180% 180%;
  animation: gradient-animation 10s ease infinite;
}

.text{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


